#toggle {
  display: none;
}
label {
  cursor: pointer;
}
.mobile-menu {
  font-size: 20px;
  display: block;
}
.menu-list {
  display: none;
  margin-top: 150px;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.mobile-menu li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.096) !important;
  padding-bottom: 25px;
  padding-top: 25px;
}
#toggle:checked + .menu-list {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
